@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

button{
  background-color: #27150c;
  color: #f4edd2;
  text-align: center;
  cursor: pointer;
  font-family: 'Quicksand';
  border-radius: 40px;
  padding: 10px 40px 10px 40px;
  border:none;
  font-size: 30px;
}

html, body {
  height: 100%;
  background-color: #f4edd2;
}

.full-height {
  background: yellow;
}

.home{
	height:100%;
	}


.title{
	font-family:'Quicksand', sans-serif;;
	font-weight: bold
	font-size: 60px;
}

h2{
	font-family:'Quicksand', sans-serif;';
	font-size: 20px;
}
label{
	font-family:'Quicksand', sans-serif;';
	font-weight: bold
}

/*.rounded{
	border-radius: 20px;
}*/
